@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url("fonts\IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBMPlexMono-Bold";
    src: url("fonts\IBMPlexMono-Bold.ttf");
}

body {
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.backgroundmain {
    background-image: url("background.png");
    width: 1024px;
    height: 768px;
}

.navigation {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
    left: 13px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.navigation button {
    font-size: 18px;
    color: #FF0070;
    border: none;
    background-color: transparent;
    padding: 0 13px;
    text-align: center;
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.paragrav {

    position: absolute;
    width: 52px;
    height: 26px;
    left: 923px;
    top: 20px;
    color: #FF0070;
    margin: 0px;

}

.navigation button:hover {
    cursor: pointer;
}

.isActiveButton {
    border: 1px solid #FF0070 !important;
}

h1 {

    position: absolute;
    width: 759px;
    height: 130px;
    left: 10px;
    margin: 0px;
    padding-top: 189px;

    font-weight: 700;
    font-size: 157px;

    color: #DB00FF;

    text-shadow: 4px 4px 0px #FF0070;

}

.text1 {

    position: absolute;
    width: 491px;
    height: 71px;
    left: 513px;
    top: 575px;
    background: #FF0070;

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000028;

}

.text2 {
    background: #000028;
    width: 1024px;
    height: 768px;
}

.text2 h2 {

    width: 314.96px;
    height: 47px;
    padding-left: 20px;
    top: 0px;
    font-size: 18px;
    line-height: 23px;
    color: #FF0070;

}

.text2 p {

    position: absolute;
    width: 648.92px;
    height: 23px;
    right: 20.19px;
    top: 0px;

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    color: #000028;


}

.paragrav2 {

    position: absolute;
    width: 9px;
    height: 9px;
    left: 966px;
    top: 28px;
    margin: 0px;

    background: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;

}

