@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url("fonts\IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBMPlexMono-Bold";
    src: url("fonts\IBMPlexMono-Bold.ttf");
}

body {
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.mainback {
    width: 1024px;
    height: 51.9px;
    background: #000028;
    overflow: hidden;
}

.backgroundmain {
    background-image: url("background.png");
    width: 1024px;
    height: 768px;
}

.navigation {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-top: 20px;
    left: 13px;
    position: relative;
    justify-content: center;
    overflow: hidden;
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.navigation button {
    font-size: 18px;
    color: #FF0070;
    border: none;
    background-color: transparent;
    padding: 0 13px;
    text-align: center;
    font-family: 'IBM Plex Mono';
    font-style: normal;
}

.paragrav {

    position: absolute;
    width: 52px;
    height: 26px;
    left: 923px;
    top: 20px;
    color: #FF0070;
    margin: 0;

}

.navigation button:hover {
    cursor: pointer;
}

.isActiveButton {
    border: 1px solid #FF0070 !important;
}

h1 {

    position: absolute;
    width: 759px;
    height: 130px;
    left: 10px;
    margin: 0;
    padding-top: 189px;

    font-weight: 700;
    font-size: 157px;

    color: #DB00FF;

    text-shadow: 4px 4px 0px #FF0070;

}

.text1 {

    position: absolute;
    width: 491px;
    height: 71px;
    left: 513px;
    top: 575px;
    background: #FF0070;

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000028;

}

.start {
    width: 314px;
    height: 47px;
    display: flex;
    color: rgba(255,0,111,1);
    position: relative;
    top: 0;
    left: 20px;
    font-weight: Bold;
    font-size: 18px;
    text-align: left;
    margin: 0;
  }

.zagalovok {
    width: 649px;
    height: 23px;
    background: rgba(255, 0, 111, 1);
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    font-weight: Bold;
    font-size: 18px;
    text-align: left;
    color: #000028;
  }

.paragrav2 {

    position: absolute;
    left: 966px;
    top: 28px;
    height:9px;
    width:9px;
    margin: 0;
    filter:drop-shadow(0px 0px 4px);
    border-radius:50%;

    background: #FF0070;
    box-shadow: 0px 0px 4px 2px #FF0070;
}

.ramka {

    background: #000028;

    width: 1024px;
    height: 508px;

}

.colortext {
    color: #F1B2CE;
    line-height: 23.4px;
    font-size: 18px;
}

.block {
    width: 648.92px;
    height: 244px;
    position: absolute;
    left: 335px;
    top: 828px;
}

.block2 {
    width: 648.92px;
    height: 244px;
    position: absolute;
    left: 335px;
    top: 1094px;
}